
@{
    ViewBag.Title = "BindAccount";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<span class="h4 font-weight-normal text-muted">綁定帳號</span>
<p class="lead text-center mt-3">以連結帳號</p>
<div class="row">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/FB1.png" />
    </div>
    <div class="col">
        <span>Axxxxx@gmail.com</span>
        
    </div>
    <div class="col">
        <a href="#">更改</a>
        <a href="#">移除</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/Line1.png" />
    </div>
    <div class="col">
        <span>王曉明</span>
        
    </div>
    <div class="col">
        <a href="#">更改</a>
        <a href="#">移除</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/Ig1.png" />
    </div>
    <div class="col">
        <span>未連結</span>

    </div>
    <div class="col">
        <a href="#">連結帳號</a>
        @*<a href="#">更改</a>
        <a href="#">移除</a>*@
    </div>
</div>


