
@{
    ViewBag.Title = "BindAccount";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<span class="h4 font-weight-normal text-muted">綁定帳號</span>
<p class="lead text-center">連結帳號</p>
<div class="row m-3">
    <div class="col text-center">
        <a href="#" class="p-2">Facebook</a>
        <a href="#" class="p-2">Line</a>
        <a href="#" class="p-2">Instagram</a>
    </div>

</div>
<div class="row m-2">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/FB1.png" />
    </div>
    <div class="col">
        <span>一起賣衣服</span>

    </div>
    <div class="col">
        <a href="#">移除</a>
    </div>
</div>
<div class="row m-2">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/FB1.png" />
    </div>
    <div class="col">
        <span>xxx</span>

    </div>
    <div class="col">
        <a href="#">移除</a>
    </div>
</div>
<div class="row m-2">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/Line1.png" />
    </div>
    <div class="col">
        <span>全家團購</span>       
    </div>
    <div class="col">
        <a href="#">移除</a>
    </div>
</div>
@*<div class="row mt-2">
    <div class="col text-right">
        <img class="AccountIcon" src="~/Assets/images/Ig1.png" />
    </div>
    <div class="col">
        <span>未連結</span>

    </div>
    <div class="col">
        <a href="#">連結帳號</a>
    </div>
</div>*@


