
@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<a class="h4 font-weight-normal text-muted" href="@Url.Action("FanPageName","Setting")">設定活動</a>
<span>/</span>
<span class="h4 font-weight-normal text-muted">商品</span>
<div class="row m-3">
    <form action="/GroupBuy/SettingCampaign" method="post">
        <div class="col">
            <img src="~/Assets/images/Line1.png" style="width:20px;" />
            <label>群組:@ViewBag.GroupName</label>
            <input type="hidden" name="LineGroupID" value="@ViewBag.LineGroupID" />
            <br />
            <label class="mr-3">商品編號:</label>
            <input id="ProductID" name="ProductID" type="text" class="qty" />
            <button class="btn btn-outline-success" id="SearchProduct" type="button">搜尋商品</button><br/>
            <label>商品名稱:</label>
            <label id="ProductName"></label>
            <br />
            <label class="mr-3">活動標題:</label>
            <input id="Title" name="Title" type="text" class="qty" />
            <br />
            <label class="mr-3">關鍵字:&nbsp;&nbsp;&nbsp;</label>
            <input id="Keyword" name="Keyword" type="text" class="qty" />
            <br />
            <label class="mr-3">訂購組數:</label>
            <input id="ProductSet" name="ProductSet" type="text" class="qty" />
            <label>/組</label>
            <br />
            <label class="mr-3">成團組數:</label>
            <input id="PeopleGroup" name="ProductGroup" type="text" class="qty" />
            <label>/團</label>
            <br />
            <label class="mr-3">結束時間:</label>
            <input id="EndTime" name="EndTime" type="datetime-local" />
            <br />
            <label>活動說明:</label><br />
            <textarea id="Detail" name="Detail" cols="40" rows="6"></textarea><br />
            <button type="submit" class="btn btn-success mt-3">建立活動</button>
        </div>
    </form>
</div>
@section EndJS
{
    <script>
        $(function () {
            $("#SearchProduct").on('click', SearchProduct);
            $('button[type="submit"]').click(function () {
                var now = new Date()
                now.setHours(now.getHours() + 8);
                now = new Date(now.toUTCString());

                var EndTime = $('#EndTime').val()
                EndTime = new Date(EndTime)
                EndTime.setHours(EndTime.getHours() + 8);
                EndTime = new Date(EndTime.toUTCString());

                if (now.valueOf() - EndTime.valueOf() > 0) {
                    alert("注意結束時間不能晚於現在時間")
                    return false;
                }
                else {
                    document.form.onsubmit();
                }
            })

            function SearchProduct() {
                var id_value = $("#ProductID").val();
                $.ajax({
                    url: "/Product/GetSKUListByMain",
                    type: "post",
                    data: { FilterType: "salepage_id", id_value: id_value },
                    success: function (response) {
                        console.log(response);
                        $("#ProductName").text(response[0]["Title"]);
                        $("#ProductID").val(response[0]["SkuId"]);
                    },
                    error: function () {
                        alert("查詢不到此商品");
                    }
                });
            }
        });
    </script>
}
