
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<span class="h4 font-weight-normal text-muted">設定直播</span>
<span>/</span>
<span class="h4 font-weight-normal text-muted">粉絲團</span>
<div class="row mt-3">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">FaceBook FanPage</h5>
            <p class="card-text">Add New FanPage</p>
            <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i></button>
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">FaceBook FanPage</h5>
            <p class="card-text">justTshirt.tw</p>
            <button type="button" class="btn_managePages btn btn-info" onclick="getAuth()" name="submit" data-toggle="modal" data-target="#Modal">登入</button>
        </div>
    </div>
    <input type="hidden" id="fanPageName">
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Loading...</h5>
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@section EndJS
{
    <script>
        $(document).ready(function () {
            $('.btn_managePages').click(function () {
                var fanPageName = $(this).siblings("p").text();
                $('#fanPageName').val(fanPageName);
                getAuth();
            });
        });
        function getAuth() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    FB.api('/' + $('#fanPageName').val() + '?fields=access_token', function (res) {
                        GetData(res.access_token);
                        console.log("PAGE=" + res.access_token);
                    });
                }
            }, {
                    auth_type: 'rerequest',
                    scope: 'manage_pages,pages_messaging',
                    return_scopes: true
                });
        }

        function GetData(token) {
            $.ajax({
                type: "POST",
                url: "/Setting/GetFanPageData",
                data: { token: token, fanPageName: $('#fanPageName').val() },
                dataType: 'json',
                crossDomain: true,
                cache: false,
                success: function (data) {
                    window.location.href = data;
                }
            });
        }
    </script>
}
@section TopJS
{
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1320980108059770',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
}

