
@{
    ViewBag.Title = "FanPageName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row header">
        <img src="~/Assets/images/91app_developer.png" />
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">FaceBook FanPage</h5>
                <p class="card-text">Add New FanPage</p>
                <button type="button" class="btn btn-primary"><i class="far fa-plus-square"></i></button>
            </div>
        </div>
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">FaceBook FanPage</h5>
                <p class="card-text">justTshirt.tw</p>
                <button type="button" class="btn_managePages btn btn-info" onclick="getAuth()">登入</button>
            </div>
        </div>
        <input type="hidden" id="fanPageName">
    </div>
</div>
@section EndJS
{
    <script>
        $(document).ready(function () {
            $('.btn_managePages').click(function () {
                var fanPageName = $(this).siblings("p").text()
                $('#fanPageName').val(fanPageName)
                getAuth()
            })
        });
        function getAuth() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    FB.api('/' + $('#fanPageName').val() + '?fields=access_token', function (res) {
                        GetData(res.access_token);
                        console.log("PAGE=" + res.access_token);
                    });
                    //console.log(response.authResponse.accessToken);
                    //
                }
            }, {
                    auth_type: 'rerequest',
                    scope: 'manage_pages,pages_messaging',
                    return_scopes: true
                });
        }

        function GetData(token) {
            $.ajax({
                type: "POST",
                url: "/Setting/GetFanPageData",
                data: { token: token, fanPageName: $('#fanPageName').val() },
                dataType: 'json',
                crossDomain: true,
                cache: false,
                success: function (data) {
                    window.location.href = data;
                }
            });
        }
    </script>
}
@section TopJS
{
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1320980108059770',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
}

