@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    var bindingPage = ViewBag.bindingPage;
}
<span class="h4 font-weight-normal text-muted">設定活動</span>
<span class="h4 font-weight-normal text-muted">社群</span>
<div class="row" id="card_selectPage">
    @if (bindingPage != null)
    {
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">FaceBook</h5>
                <p class="card-text">@bindingPage.FanPageName</p>
                <button type="button" class="btn btn-primary event-start" value="fb_@bindingPage.FanPageName">選擇</button>
            </div>
        </div>
    }

</div>

@section TopJS
{
    <script>

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1320980108059770',
                cookie: true,
                xfbml: true,
                version: 'v3.3'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
}

@section EndJS
{
    <script>
        $(document).ready(function () {
            $('.event-start').click("click", function () {
                var spArr = this.value.split('_');
                var platform = spArr[0];
                switch (platform) {
                    case 'fb':
                        window.location.href = '/Setting/Video'
                        break;
                    case 'line':

                        break;
                    case 'ig':

                        break;

                }

                console.log(platform);
            });

        });

    </script>
}

