
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row header">
        <h1 class="ml-3">PlusOneBuy</h1>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-3">
            <h4 class="mt-3">設定留言關鍵字:</h4>
            <input type="text" class="form-control" />
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-3">送出</button>
</div>

