
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<span class="h4 font-weight-normal text-muted">報告</span>
<span>/</span>
<span class="h4 font-weight-normal text-muted">直播清單</span>
<table id="myTable" class="cell-border compact stripe" style="width:100%">
    <thead>
        <tr>
            <th>編號</th>
            <th>直播名稱</th>
            <th>開始時間</th>
            <th>結束時間</th>
            <th>收單數</th>
            <th>收單金額</th>
            <th>留言訂單</th>
            <th>銷售單</th>
            <th>ROI</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>跳樓大拍賣</td>
            <td>2019-07-15 18:22:00.033</td>
            <td>2019-07-15 19:22:00.033</td>
            <td>10</td>
            <td>7777</td>
            <td><a href="#">...</a></td>
            <td><a href="@Url.Action("SalesOrderList","Report",new { livepageId="382838899034699_631072840739696"})">...</a></td>
            <td><a href="#">...</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>跳樓大拍賣</td>
            <td>2019-07-15 18:22:00.033</td>
            <td>2019-07-15 19:22:00.033</td>
            <td>12</td>
            <td>8777</td>
            <td><a href="#">...</a></td>
            <td><a href="#">...</a></td>
            <td><a href="#">...</a></td>
        </tr>
    </tbody>
</table>
@section EndJS
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "info": false, "bLengthChange": false, "pageLength": 10
            });
        });
    </script>
}