@model List<FBPlusOneBuy.ViewModels.ReportViewModel>
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    List<FBPlusOneBuy.ViewModels.ReportViewModel> Report = ViewData.Model as List<FBPlusOneBuy.ViewModels.ReportViewModel>;
}
<span class="h4 font-weight-normal text-muted">查詢活動</span>
<div class="row " >
        <div class="card text-center m-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title ">FaceBook</h5>
                @*<p class="card-text">一起賣衣服</p>*@
                <img src="~/Assets/images/FB1.png" alt="FB_icon" class="card-text mt-3 mb-3" style="width:30%"/>
                <input type="hidden" name="name" value="" />
                <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("Fblist","Report")'"><i class="fas fa-search "></i></button>
            </div>
        </div>

       <div class="card text-center m-2" style="width: 18rem;">
           <div class="card-body">
               <h5 class="card-title">Line</h5>
               @*<p class="card-text">全家團購</p>*@
               <img src="~/Assets/images/Line1.png" alt="Line_icon" class="card-text mt-3 mb-3" style="width:30%" />
               <input type="hidden" name="name" value="" />
               <button type="button" class="btn btn-success btn-block" onclick="location.href='@Url.Action("Linelist","Report")'"><i class="fas fa-search"></i></button>
           </div>
       </div>

    
</div>
