@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container-fluid">
        <div class="row header">
            <h1 class="ml-3">PlusOneBuy</h1>
        </div>
    </div>
    <div class="container">
        @Html.Label("liveID", "直播ID:")@ViewData["liveID"]
        @Html.Label("keyWord", "關鍵字:")@ViewData["keyWord"]
        @Html.Label("ProductName", "商品名稱:")@ViewData["ProductName"]
        <div id="list" class="row" style="margin: 10px">
            <div class="col-11">
                <table id="ListTable" class="cell-border compact stripe" style="width:100%">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th>CustomerName</th>
                            <th>Keyword</th>
                            <th>ProductName</th>
                            <th>Quantity</th>
                            <th>OrderDateTime</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</body>

@section EndJS
{
    <script src="~/Assets/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            GetData();
        });
        function GetData() {
            $.ajax({
                type: 'post',
                url: '/list/GetAll',
                data: {liveID:@ViewData["liveID"]},
                dataType: "json",
                cache: false,
                success: function (Result) {
                    console.log(Result)
                    $('#ListTable tbody').empty();
                    var json = JSON.parse(Result);
                    for (var i = 0; i < json.length; i++) {
                        $('#ListTable').append("<tr><td>" + json[i].OrderID + "</td>" +
                            "<td>" + json[i].CustomerName + "</td>" +
                            "<td>" + json[i].Keyword + "</td>" +
                            "<td>" + json[i].ProductName + "</td>" +
                            "<td>" + json[i].Quantity + "</td>" +
                            "<td>" + json[i].OrderDateTime + "</td></tr>")
                    }
                }
            }).then(function () {
                setTimeout(GetData, 3000);
            })
        }
    </script>
}