html,body{
    height:100%;
    font-family: "Microsoft JhengHei";
}
a {
    text-decoration: none;
}

.header {
    box-shadow: 0 0 30px 0 rgba(0, 123, 255,0.20);
    background-color: rgba(227, 229, 231, 1);
    height: 10%;
}
.header img {
    width: 20%;
}
/*nav*/
.nav_ {
    background-color: rgba(238, 239, 240, 1);
    margin: 0;
    padding: 0;
}
.nav-item {
    margin:10px;
}
.active {
    color: black;
}

ul li:hover > ul {
    display: block;
}

.nav a:hover {
    color: whitesmoke;
    background-color: darkgray;
}

.content {
    background-color: rgba(238, 239, 240, 0.5);
}

.formtext {
    padding-left: 10px;
    border: #ddd 1px solid;
    height: 40px;
    border-color: #17a2b8;
    border-radius: 5px;
}
.qtytext {
    padding-left: 10px;
    border: #ddd 1px solid;
    height: 40px;
    width:50px;
    border-color: #17a2b8;
    border-radius: 5px;
}
.Idtext {
    padding-left: 10px;
    border: #ddd 1px solid;
    width: 20%;
    height: 38px;
    margin: 5px;
    border-color: #6c757d;
    border-radius: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Videodropdown {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card {
    width: 18rem;
    margin: 20px;
}
.listcard {
    width: 10rem;
}
.AccountIcon {
    width:15%;
    height:100%;
}

.qty {
    padding-left: 10px;
    border: #ddd 1px solid;
    width: 50%;
    border-color: #28A745;
    border-radius: 5px;
}

textarea {
    border-color: #28A745;
    border-radius: 5px;
}
    /*login*/
    .loginBg {
    background-color: #dadada;
    height: 100%;
}
.loginHeight {
    margin-top:5%;
    height: 20%;
}
.loginLeft {
    margin-left:20%;
    background-color: rgb(229, 36, 18);
    opacity: 0.8;
    box-shadow: 0 0 30px 0 rgba(36, 39, 41, 0.2);
}
    .loginLeft img {
        margin-top: 50%;
        width: 100%;
    }

.loginRight {
    background-color: whitesmoke;
    box-shadow: 0 0 30px 0 rgba(36, 39, 41, 0.2);
    margin-right: 20%;
}
.logindiv {
    margin-top: 50%;
    margin-bottom: 20%;
    margin-left: 10%
}
/*login*/

